.row
  .col-md-6
    Leadership <input id="" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[3,4]"/> 
  .col-md-6
    Leadership <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[3,4]"/> 
.row{style: "ver"}
  .col-md-6
    Leadership <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[3,4]"/> 
  .col-md-6
    Leadership <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[3,4]"/> 
.row
  .col-md-offset-6.col-md-6
    Leadership <input id="ex2" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[3,4]"/> 

%script
  $("#ex2").slider({});