.row{style: "margin-top: 50px;"}
  .col-md-6
    .col-md-4
      Commitment 
    .col-md-8
      <input id="commitment" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[3,4]"/> 
  .col-md-6
    .col-md-4
      Decision making 
    .col-md-8
      <input id="dec_making" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[3,4]"/> 
.row{style: "margin-top: 50px"}
  .col-md-6
    .col-md-4
      Team-work 
    .col-md-8
      <input id="team_work" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[3,4]"/> 
  .col-md-6
    .col-md-4
      Capability to work independently 
    .col-md-8
      <input id="cap_to_work_independent" type="text" class="span2" value="" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="[3,4]"/> 
- profiles = Profile.all
- index = -1
#profiles
  - (profiles.count/3.0).ceil.times do |i|
    .row{style: "margin-top: 75px"}
      - 4.times do |index1|
        - if index < profiles.count - 1
          - profile = profiles[index = index + 1]
          .col-md-3{style: "padding: 5px;" }
            .card
              .card-block
                %h4.card-title= profile.name
                - if profile.qualification
                  %h6.card-subtitle.text-muted
                    = profile.qualification
              %img{:alt => "Card image", :src => "http://www.komarketingassociates.com/images/2014/08/linkedin-default.png", style: "width: 150px;margin: 0 auto; display: block"}/
              .card-block
                %p.card-text Some quick example text to
                %a.card-link{:href => "profiles/#{profile.id}", target: "_blank"} Open

%script
  refreshPage = function(){
  commitment_value = commitment_slider.getValue();
  dec_making_value = dec_making_slider.getValue();
  team_work_value = team_work_slider.getValue();
  cap_to_work_independent_value = cap_to_work_independent_slider.getValue();
  window.location.href = "profiles?" + "commitment_value=" + commitment_value + "&dec_making_value=" + dec_making_value + "&team_work_value=" + team_work_value + "&cap_to_work_independent_value=" + cap_to_work_independent_value
  }
  commitment_slider = $("#commitment").slider({}).on(
  'slideStop', refreshPage).data('slider');
  dec_making_slider = $("#dec_making").slider({}).on(
  'slideStop', refreshPage).data('slider');
  team_work_slider = $("#team_work").slider({}).on(
  'slideStop', refreshPage).data('slider');
  cap_to_work_independent_slider = $("#cap_to_work_independent").slider({}).on(
  'slideStop', refreshPage).data('slider');