!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Prognosis
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="sha384-VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
  %body
    %nav.navbar.navbar-dark.bg-inverse{style: "padding-left:150px;padding-right:150px;"}
      .container-fluid
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %a.navbar-brand{:href => "#"} Prognosis
        / Collect the nav links, forms, and other content for toggling
        %ul.nav.navbar-nav
          <form class="form-inline pull-xs-right"><input class="form-control" type="text" placeholder="Search"><button class="btn btn-outline-info" type="submit">Search</button></form>
    %div{style: "padding: 0px 250px 0px 250px;"}
      = yield